link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet')
link(href='/stylesheets/style.css' rel='stylesheet')
script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(src='/javascripts/wavy-jones.js')
script(src='/javascripts/oscillator.js')

div.btn-group.btn-group-justified
  div.btn-group
    button.btn.btn-success#square SQUARE
  div.btn-group
    button.btn.btn-danger#triangle TRIANGLE
  div.btn-group
    button.btn.btn-primary#sine SINE
  div.btn-group
    button.btn.btn-warning#sawtooth SAWTOOTH

div.btn-group.btn-group-justified
  div.btn-group
    button.btn.btn-default CLEAR LAST NODE
  div.btn-group
    button.btn.btn-default TRIAD
  div.btn-group
    button.btn.btn-default RESTORE

div.pad
  div#oscilliscope