link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet')
link(href='/stylesheets/style.css' rel='stylesheet')
script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(src='/javascripts/oscillator.js')

h1 Oscillator pad
p.
  choose waveform with the buttons. Pitch increases on x axis, volume increases on y axis.

button.btn.btn-success SQUARE
button.btn.btn-danger TRIANGLE
button.btn.btn-primary SINE
button.btn.btn-warning SAWTOOTH
button.btn CLEAR LAST NODE
button.btn TRIAD
button.btn RESTORE


  
div.pad

img(src='/images/frequencies.jpg').img-responsive
