body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#oscilliscope {
	margin: auto;
	width: 80%;
	top: 50%;
    height: 300px;
	pointer-events:none;
  }

span{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn{
	display: inline-block;
	width: 25%;
}

.path{
	position: absolute;
	border-radius: 10px;
	height: 4px;
	width: 4px;
	z-index: 1;
}

#traveller{
	z-index: 10;
}

.triangle{
	background-color: red;
}

.sine{
    background-color: lightblue;
}

.sawtooth{
	background-color: orange;
}

.square{
	background-color: green;
}

.zoomer{
	position: absolute;
	border-radius: 10px;
	height: 8px;
	width: 8px;
	z-index: 4;
}

.node{
	text-align: center;
	text: -25px;
	border-radius: 20px;
	height: 50px;
	width: 50px;
	position: absolute;
}

.pad{
	height: 100%;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.01, #ff0000), color-stop(0.33, #ff00ff), color-stop(0.66, #0000ff), color-stop(0.99, #00ffff));
	background-image: -moz-linear-gradient(left center, #ff0000 1%, #ff00ff 33%, #0000ff 66%, #00ffff 99%);
}